.a{
    color: blueviolet;
    background-color: cadetblue;
}
#color{
    color:darkolivegreen;
    background-color: aquamarine;
}
.b{
    color: crimson;
    background-color: darksalmon;
}
h1{
    color: gold;
    
}
#meta{
    color: orangered;
    background-color: orchid;
}
